Here is the User's input, inteprete user's attitude to moives into json result,(only from user's current input)

## User Input ##
{{ text }}
## End Input ##

result should be in json format like this:
[
    {
        "title":str, # movie's title
        "id": int, #movie's id
        "score": int, # 0~10, how much user like this movie, null if unknow
        "watched": bool, # if user watched this movie, null is unknow
        "quote": str, # quote from what user said
    } # a point to movie
]

Return result in standard json format only:
